<app-book-filter (filtersChanged)="onFiltersChanged($event)"></app-book-filter>

<div class="book-container">
    <div class="book-card" *ngFor="let book of books">
      <div class="book-details">
        <h3>{{ book.title }}</h3>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Publication Date:</strong> {{ book.publication_date | date }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
      </div>
    </div>
</div>
  
<!-- Pagination -->
<div class="pagination">
    <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
</div>